#boton {
    color: #ec87bf;
    border-color: #ec87bf;
}

#boton:hover {
    background-color: #ec87bf;
    color: #FFFF;
    border-color: #ec87bf;
}
*::selection{
    background: #519c5e;
    color: white;
}

.imagenPortada{
  width: 100%;
}
